// -- COLORS
PINK                        = #f92672
GREEN                       = #a6e22e
BLUE                        = #66d9ef
YELLOW                      = #e6db74
COLOR                       = rgba(255,255,255,0.5)
BACKGROUND                  = #3e253c
THEME                       = PINK

// -- SIZES
BORDER_RADIUS               = .25rem
U                           = 1rem
