body
  color                       : COLOR
  background-color            : BACKGROUND
  font-family                 : "Dosis", Helvetica, sans-serif
  font-smoothing              : antialiased
  -moz-font-smoothing         : antialiased
  -webkit-font-smoothing      : antialiased
  -webkit-font-smoothing      : subpixel-antialiased
  *
    -webkit-font-smoothing    : antialiased
    -moz-osx-font-smoothing   : grayscale

.color
  &.white
    color                     : WHITE
  &.theme
    color                     : THEME

.row
  margin-bottom               : 1.5rem

// -- BUTTON -------------------------------------------------------------------
.button, button, input[type="submit"], input[type="reset"], input[type="button"]
  font-weight                 : bold
  text-transform              : uppercase
  letter-spacing              : .1rem
  border-radius               : BORDER_RADIUS
  margin                      : 0 (U / 10)
  &:not([disabled])
    color                     : COLOR = alpha(THEME, 100%)
    border                    : 1px solid alpha(THEME, 25%)
    transition                  all 300ms
    &:hover, &:focus, &.active
      color                   : WHITE
      background-color        : THEME
      border-color            : THEME
  &[disabled]
    font-family               : monospace, "Courier New", Courier
    text-transform            : lowercase
    font-size                 : (U / 1.5)
    font-weight               : bold
    vertical-align            : top

// -- FORM ---------------------------------------------------------------------
input[type="email"], input[type="search"], input[type="text"], input[type="tel"],
input[type="url"], input[type="password"], textarea, select
  background-color            : WHITE
  border                      : 1px solid darken(BACKGROUND, 15%)
  border-radius               : BORDER_RADIUS
  &:focus
    border                    : 1px solid darken(BACKGROUND, 30%)

// -- TABLE ---------------------------------------------------------------------
table
  th, td
    border-bottom             : 1px solid darken(BACKGROUND, 10%)

// -- CODE ---------------------------------------------------------------------
code
  margin-top                  : -(1.25 * U)

// -- COMMON -------------------------------------------------------------------
code, button[disabled]
  color                       : lighten(COLOR, 75%) !important
  background                  : darken(BACKGROUND, 50%) !important
  border                      : 1px solid darken(BACKGROUND, 5%) !important
