@media (max-width: 1024px)
  aside
    display                             : none !important

@media (max-width: 400px)
  code
    margin-top                          : -(U / 1.5) !important

    font-size                           : (U / 2)
    line-height                         : ( U / 1.5)
  nav
    display                             : none !important

aside
  background-color                      : darken(BACKGROUND, 25%)
  header, ul, footer
    padding                             : U (1.5 * U)
  header
    font-family                         : 'Righteous', cursive
    font-size                           : 125%
    > small
      opacity                           : 0.5
      font-size                         : 60%
  header, footer
    background-color                    : rgba(0,0,0,0.1)
  strong
    font-size                           : 80%
  a
    text-decoration                     : none
    color                               : THEME
    &:hover, &.active
      color                             : WHITE
    &.active
      font-weight                       : bold
  footer
    line-height                         : (2 * U)
    img
      height                            : SIZE = (1.75 * U)
      width                             : SIZE
      margin-right                      : (U / 2)
      border-radius                     : (SIZE / 2)
      box-shadow                        : 0 0 0 (U / 8) THEME
    a
      margin-left                       : (U / 3)
      font-weight                       : bold

.landing
  margin                                : (6 * U) 0 0 0
  h1
    font-size                           : 6rem
  h5
    padding                             : 0 2.5%

.container
  padding                               : 4rem 0

h1, h2, h3, h4, h5, h6
  font-family                           : 'Righteous', cursive
  font-weight                           : normal
  color                                 : WHITE

nav
  text-align                            : right
  margin-bottom                         : -(2.85 * U)
  margin-right                          : (U / 2)
  opacity                               : 0.85
  button
    height                              : (1.2 * U)
    margin                              : 0
    padding                             : 0 (U / 4)
    font-size                           : 70%
    line-height                         : (U / 1.5)
    text-transform                      : lowercase

.row > h6
  padding-top                           : (2 * U)
  margin-bottom                         : .5rem

pre
  &:not(.active)
    display                             : none
  &.active
    display                             : block
